@import "sanitize";
@import "variable";

body{
  background-color: $color-base;
}
header{
  max-width:980px;
  margin: 0 auto;
  background-color: $color-main;
  border: {
    top:1px solid $color-main;
  }
@at-root  h1{
  color:$color-darkest;
    text-align: center;
    margin:20px 0 0;
  }
  > p {
    text-align: center;
    margin:0;
    font-size: 12px;
  }
  .home & > p{
    color:$color-accent;
    &:hover{
      color:lighten($color-accent, 15%);
    }
  }
}
.search{
  display:flex;
  justify-content:flex-end;
  align-items: center;
  &__button{
    width:80px;
    height: 24px;
    font-size: 14px;
    margin-right: 10px;
    background-color: $color-light;
    border:1px solid $color-accent;
    border-radius: 5px;
    &:hover{
      background-color: $color-lighter;
    }
  }
  &__input{
    width:200px;
    height:24px;
    margin-right: 10px;
    background-color: $color-base;
    border:1px solid $color-accent;
  }
  > p{
    font-size: 14px;
    margin-right: 10px;
  }
}
.menu{
  display:inline-flex;
  &__item{
    & a{
     display:block;
     width:100px;
     margin-left:-1px;
     text-align: center;
     text-decoration: none;
     border:1px solid #6a0259;
   }
   &_state_current a{
     background-color: $color-base;
   }
  }
}
h2{
  color:$color-darkest;
  text-align: center;
}
.sweets{
  max-width: 140px * 5 + (20px*5);
  margin:0 auto;
  display:flex;
  justify-content:space-around;
  @media screen and (max-width: 140px * 5 + (20px*5) -1px){
    flex-direction : column;
  }
}
.col{
  padding:10px;
  img{
    display:block;
    margin:0 auto 20px;
  }
}
